#head {
    margin: auto;
    background-color:darkorange;
    height: 50px;
    border-radius: 10px;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    color: azure;
}


.col {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.col img {
    margin: 0 auto;
    width: 200px;
    height: 300px;
    border-radius: 50%;
}

.col-8 {
    margin: 5px;
}

#country {
    margin: 0 auto;
    width: 80px;
    height: 50px;
}

h2 {
    text-align: left;
}

.contact-icon {
    width: 50px;
    height: 50px;
    margin: 0 2px 0 2px;
}

.contact-icon:hover{
    overflow: hidden;
    transform: scale(1.2);
    filter:brightness(1.5);
}

body {
    background-image: url("https://i.pinimg.com/originals/9d/cb/b0/9dcbb0fb24c66e0bdabc90ec1b8d3380.jpg");
    /* background-repeat: no-repeat; */
    color: azure;
}

#articles {
    height: 500px;
    background-color: darkorange;
    margin-top: 125px;
}

#articles h2 {
    text-align: center;
}

#articles ul {
    margin: 20px;
}